@import "./header/index.css";

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#global_container {
    max-width: 90rem;
    margin: 0 auto;
}